# Classification

---

In [2]:
import numpy as np
import pandas as pd

#### 데이터 로드

In [2]:
df = pd.read_csv('data/fish.csv')
df.head()

   Type  Length      Depth         Kg
0  tuna   55.46  13.240930   8.631268
1  tuna   72.07  17.671346  19.288996
2  tuna   62.84  15.635367  13.140561
3  tuna   72.79  18.440841  19.669098
4  tuna   76.63  19.137488  23.021797

#### 길이의 제곱 컬럼 생성

In [3]:
df['L2'] = df['Length'] * df['Length']
df.head()

   Type  Length      Depth         Kg         L2
0  tuna   55.46  13.240930   8.631268  3075.8116
1  tuna   72.07  17.671346  19.288996  5194.0849
2  tuna   62.84  15.635367  13.140561  3948.8656
3  tuna   72.79  18.440841  19.669098  5298.3841
4  tuna   76.63  19.137488  23.021797  5872.1569

#### 길이와 무게 비율 컬럼 생성

In [4]:
df['LKgRatio'] = df['Kg'] / df['Length']
df.head()

   Type  Length      Depth         Kg         L2  LKgRatio
0  tuna   55.46  13.240930   8.631268  3075.8116  0.155631
1  tuna   72.07  17.671346  19.288996  5194.0849  0.267643
2  tuna   62.84  15.635367  13.140561  3948.8656  0.209111
3  tuna   72.79  18.440841  19.669098  5298.3841  0.270217
4  tuna   76.63  19.137488  23.021797  5872.1569  0.300428

#### 컬럼 추가(isTuna) - 참치: 1, 나머지: 0

In [5]:
df['isTuna'] = df['Type'].apply(lambda x: 1 if x == 'tuna' else 0)

#### 컬럼 추가( TypeNum) - 참치: 0, 연어: 1, 고등어:2

In [6]:
df['TypeNum'] = df['Type'].apply(lambda x: 0 if x == 'tuna' else 1 if x == 'salmon' else 2)
df

,Type,Length,Depth,Kg,L2,LKgRatio,isTuna,TypeNum
0,tuna,55.46,13.240930,8.631268,3075.8116,0.155631,1,0
1,tuna,72.07,17.671346,19.288996,5194.0849,0.267643,1,0
2,tuna,62.84,15.635367,13.140561,3948.8656,0.209111,1,0
3,tuna,72.79,18.440841,19.669098,5298.3841,0.270217,1,0
4,tuna,76.63,19.137488,23.021797,5872.1569,0.300428,1,0
5,tuna,61.31,14.870117,12.012898,3758.9161,0.195937,1,0
6,tuna,73.56,18.334414,21.763799,5411.0736,0.295865,1,0
7,tuna,65.88,16.436831,14.398289,4340.1744,0.218553,1,0
8,tuna,63.03,15.390727,13.246244,3972.7809,0.210158,1,0
9,tuna,71.92,17.844251,19.424579,5172.4864,0.270086,1,0
10,tuna,75.72,18.561395,21.317571,5733.5184,0.281532,1,0
11,tuna,64.79,15.580317,14.007343,4197.7441,0.216196,1,0
12,tuna,51.63,12.503213,6.989896,2665.6569,0.135384,1,0
13,tuna,56.79,14.217174,9.761098,3225.1041,0.171881,1,0
14,tuna,74.04,18.108083,21.722563,5481.9216,0.293390,1,0
15,tuna,73.39,17.618273,20.692866,5386.0921,0.281958,1,0
16,tuna,80.67,19.611210,27.061532,6507.6489,0.335460,1,0
17,tuna,79.09,18.974578,25.161760,6255.2281,0.318141,1,0
18,tuna,75.66,19.046334,23.345379,5724.4356,0.308556,1,0
19,tuna,63.30,15.077333,12.360468,4006.8900,0.195268,1,0
20,tuna,63.73,15.647493,12.935732,4061.5129,0.202977,1,0
21,tuna,59.77,14.559803,11.141099,3572.4529,0.186400,1,0
22,tuna,65.43,15.989722,14.995949,4281.0849,0.229191,1,0
23,tuna,69.50,16.987016,17.179702,4830.2500,0.247190,1,0
24,tuna,62.42,15.297564,12.538067,3896.2564,0.200866,1,0
25,tuna,70.17,16.682835,17.409154,4923.8289,0.248100,1,0
26,tuna,72.14,17.659036,18.949713,5204.1796,0.262680,1,0
27,tuna,64.57,15.816363,14.285938,4169.2849,0.221247,1,0
28,tuna,68.66,17.212031,17.095611,4714.1956,0.248989,1,0
29,tuna,88.94,21.783584,35.237810,7910.3236,0.396198,1,0
...,...,...,...,...,...,...,...,...
1470,mackerel,24.91,4.993302,0.302532,620.5081,0.012145,0,2
1471,mackerel,41.38,8.572053,1.494346,1712.3044,0.036113,0,2
1472,mackerel,41.37,8.311794,1.444555,1711.4769,0.034918,0,2
1473,mackerel,26.82,5.426485,0.436552,719.3124,0.016277,0,2
1474,mackerel,46.19,9.390530,2.038712,2133.5161,0.044138,0,2
1475,mackerel,43.66,8.800120,1.855372,1906.1956,0.042496,0,2
1476,mackerel,29.75,6.342290,0.639290,885.0625,0.021489,0,2
1477,mackerel,38.55,7.870027,1.348170,1486.1025,0.034972,0,2
1478,mackerel,41.92,8.450308,1.831604,1757.2864,0.043693,0,2
1479,mackerel,39.32,7.892523,1.322272,1546.0624,0.033628,0,2
1480,mackerel,34.00,6.865855,0.839511,1156.0000,0.024692,0,2
1481,mackerel,37.92,7.594753,1.108658,1437.9264,0.029237,0,2
1482,mackerel,32.43,6.487050,0.622862,1051.7049,0.019206,0,2
1483,mackerel,43.49,8.667636,1.307558,1891.3801,0.030066,0,2
1484,mackerel,52.71,10.479169,2.762553,2778.3441,0.052410,0,2
1485,mackerel,35.89,7.196289,0.676833,1288.0921,0.018859,0,2
1486,mackerel,44.28,9.187147,1.916695,1960.7184,0.043286,0,2
1487,mackerel,42.51,8.548472,1.765924,1807.1001,0.041541,0,2
1488,mackerel,52.92,10.563010,2.764542,2800.5264,0.052240,0,2
1489,mackerel,34.97,6.968277,0.935694,1222.9009,0.026757,0,2
1490,mackerel,44.72,9.023846,1.907446,1999.8784,0.042653,0,2
1491,mackerel,33.26,7.002656,0.779794,1106.2276,0.023445,0,2
1492,mackerel,39.69,8.063888,1.273797,1575.2961,0.032094,0,2
1493,mackerel,29.45,6.016715,0.540470,867.3025,0.018352,0,2
1494,mackerel,41.14,8.171254,1.675539,1692.4996,0.040728,0,2
1495,mackerel,41.06,8.252645,1.330602,1685.9236,0.032406,0,2
1496,mackerel,41.77,8.590338,1.476314,1744.7329,0.035344,0,2
1497,mackerel,35.25,7.131067,0.851601,1242.5625,0.024159,0,2
1498,mackerel,36.65,7.519112,1.243252,1343.2225,0.033922,0,2
1499,mackerel,32.33,6.579096,0.789629,1045.2289,0.024424,0,2

# 1. Logistic Regression

In [7]:
X = df.loc[:,['Length','Depth']]
Y = df['isTuna']

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

>> from sklearn.model_selection import train_test_split
>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [8]:
# 데이터 분리: 학습 데이터 + 테스트 데이터
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3 ,random_state=123)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

>>> from sklearn.datasets import load_iris
>>> from sklearn.linear_model import LogisticRegression
>>> X, y = load_iris(return_X_y=True)
>>> clf = LogisticRegression(random_state=0, solver='lbfgs',
...                          multi_class='multinomial').fit(X, y)
>>> clf.predict(X[:2, :])
array([0, 0])
>>> clf.predict_proba(X[:2, :]) 
array([[9.8...e-01, 1.8...e-02, 1.4...e-08],
       [9.7...e-01, 2.8...e-02, ...e-08]])
>>> clf.score(X, y)
0.97...

In [9]:
from sklearn.linear_model import LogisticRegression
# 모델 생성
model = LogisticRegression(solver='lbfgs')

In [10]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [11]:
# 모델 학습
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [12]:
# 결과 예측
prediction1 = model.predict(X_test)
prediction1

array([1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0], dtype=int64)

In [13]:
prediction1[0]

1

In [14]:
prediction1[100]

0

In [15]:
pd_predic = pd.DataFrame(prediction1)
pd_predic.head()

   0
0  1
1  0
2  0
3  0
4  1

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

>>> from sklearn.metrics import accuracy_score
>>> y_pred = [0, 2, 1, 3]
>>> y_true = [0, 1, 2, 3]
>>> accuracy_score(y_true, y_pred)
0.5
>>> accuracy_score(y_true, y_pred, normalize=False)
2

In [16]:
# 정확도 확인
from sklearn.metrics import accuracy_score
print(accuracy_score(prediction1, y_test))

0.8622222222222222

In [17]:
from sklearn import metrics

In [18]:
# Score - precision, recall, f1-score
print(metrics.classification_report(y_test, prediction1))

              precision    recall  f1-score   support

           0       0.90      0.89      0.90       304
           1       0.78      0.80      0.79       146

   micro avg       0.86      0.86      0.86       450
   macro avg       0.84      0.85      0.84       450
weighted avg       0.86      0.86      0.86       450

In [19]:
# Confusion Matrix 빈도수 만들기
pd.crosstab(prediction1, y_test, margins=True)

isTuna    0    1  All
row_0
0       271   29  300
1        33  117  150
All     304  146  450

---

# 2. Support Vector Machine

In [20]:
df.head()

   Type  Length      Depth         Kg         L2  LKgRatio  isTuna  TypeNum
0  tuna   55.46  13.240930   8.631268  3075.8116  0.155631       1        0
1  tuna   72.07  17.671346  19.288996  5194.0849  0.267643       1        0
2  tuna   62.84  15.635367  13.140561  3948.8656  0.209111       1        0
3  tuna   72.79  18.440841  19.669098  5298.3841  0.270217       1        0
4  tuna   76.63  19.137488  23.021797  5872.1569  0.300428       1        0

In [21]:
X = df.loc[:,['Length','Depth']]
Y = df['TypeNum']

In [22]:
# 데이터 분리: 학습 데이터 + 테스트 데이터
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3 ,random_state=123)

https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

>>> import numpy as np
>>> X = np.array([[-1, -1], [-2, -1], [1, 1], [2, 1]])
>>> y = np.array([1, 1, 2, 2])
>>> from sklearn.svm import SVC
>>> clf = SVC(gamma='auto')
>>> clf.fit(X, y) 
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)
>>> print(clf.predict([[-0.8, -1]]))
[1]

In [23]:
from sklearn.svm import SVC
# 모델 생성
model = SVC(kernel='linear', C=0.1, gamma=0.1)

In [24]:
# 모델 학습
model.fit(X_train, y_train)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [25]:
# 결과 예측
prediction2 = model.predict(X_test)
prediction2

array([0, 2, 1, 2, 0, 0, 2, 1, 1, 1, 1, 2, 2, 0, 0, 0, 2, 0, 1, 1, 2, 0,
       2, 0, 0, 1, 2, 1, 2, 1, 2, 2, 0, 1, 1, 0, 0, 1, 2, 0, 0, 0, 0, 0,
       2, 2, 1, 2, 2, 0, 1, 0, 1, 0, 0, 0, 0, 2, 2, 1, 1, 0, 1, 1, 2, 0,
       0, 2, 0, 1, 2, 2, 0, 1, 2, 1, 0, 2, 1, 1, 0, 2, 1, 0, 2, 2, 0, 1,
       2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 0, 1, 2, 2, 0, 1, 2, 2, 1, 1, 0, 0,
       1, 2, 1, 2, 1, 1, 2, 1, 0, 0, 1, 1, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0,
       2, 1, 1, 0, 2, 1, 1, 0, 2, 2, 2, 1, 1, 1, 0, 0, 2, 1, 2, 1, 2, 2,
       2, 0, 1, 2, 1, 1, 2, 1, 1, 0, 0, 1, 0, 0, 2, 0, 2, 1, 0, 1, 1, 2,
       1, 2, 1, 2, 0, 0, 0, 1, 1, 1, 0, 2, 1, 2, 0, 1, 0, 1, 1, 2, 0, 2,
       1, 2, 0, 1, 1, 0, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 0, 1, 1,
       2, 1, 0, 0, 1, 2, 0, 1, 0, 2, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 2,
       1, 2, 1, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 2,
       0, 2, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 2, 1, 2, 1, 1, 1, 0, 0, 1,
       2, 1, 1, 0, 2, 1, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 1, 2, 1, 2, 1, 0,
       0, 1, 2, 0, 1, 1, 2, 2, 1, 1, 1, 2, 1, 0, 0, 1, 1, 1, 2, 2, 1, 0,
       2, 0, 2, 0, 0, 2, 1, 0, 1, 0, 2, 1, 1, 1, 1, 2, 0, 2, 2, 0, 0, 1,
       2, 1, 2, 1, 2, 2, 0, 2, 0, 1, 2, 1, 0, 0, 0, 0, 0, 2, 1, 0, 1, 1,
       2, 2, 2, 2, 1, 2, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 2, 2, 2, 1, 0,
       0, 0, 2, 1, 0, 1, 0, 1, 0, 0, 1, 0, 2, 0, 0, 1, 1, 0, 2, 0, 2, 0,
       1, 1, 2, 2, 2, 1, 2, 0, 2, 0, 2, 2, 0, 1, 0, 1, 0, 0, 1, 2, 2, 1,
       1, 2, 0, 2, 0, 2, 0, 0, 2, 1], dtype=int64)

>>> from sklearn.metrics import accuracy_score
>>> y_pred = [0, 2, 1, 3]
>>> y_true = [0, 1, 2, 3]
>>> accuracy_score(y_true, y_pred)
0.5
>>> accuracy_score(y_true, y_pred, normalize=False)
2

In [26]:
# 정확도 확인
from sklearn.metrics import accuracy_score
print(accuracy_score(prediction2, y_test))

0.8622222222222222

In [27]:
# Score - precision, recall, f1-score
print(metrics.classification_report(y_test, prediction2))

              precision    recall  f1-score   support

           0       0.78      0.81      0.79       146
           1       0.82      0.79      0.81       163
           2       1.00      1.00      1.00       141

   micro avg       0.86      0.86      0.86       450
   macro avg       0.87      0.87      0.87       450
weighted avg       0.86      0.86      0.86       450

## 2.1 Support Vector Machine - PCA

In [28]:
df.head()

   Type  Length      Depth         Kg         L2  LKgRatio  isTuna  TypeNum
0  tuna   55.46  13.240930   8.631268  3075.8116  0.155631       1        0
1  tuna   72.07  17.671346  19.288996  5194.0849  0.267643       1        0
2  tuna   62.84  15.635367  13.140561  3948.8656  0.209111       1        0
3  tuna   72.79  18.440841  19.669098  5298.3841  0.270217       1        0
4  tuna   76.63  19.137488  23.021797  5872.1569  0.300428       1        0

In [29]:
X = df.loc[:,['Length','Depth','Kg','L2','LKgRatio']]
Y = df['TypeNum']

In [30]:
# 데이터 분리: 학습 데이터 + 테스트 데이터
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3 ,random_state=123)
X_train.head()

      Length      Depth         Kg         L2  LKgRatio
891    62.69  15.797470   7.021431  3930.0361  0.112002
1385   39.07   7.885989   1.343569  1526.4649  0.034389
1186   42.02   8.244949   1.960338  1765.6804  0.046652
489    68.43  16.813894  15.929744  4682.6649  0.232789
1236   43.48   8.976522   1.708537  1890.5104  0.039295

>>> import numpy as np
>>> from sklearn.decomposition import PCA
>>> X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
>>> pca = PCA(n_components=2)
>>> pca.fit(X)  
PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)
>>> print(pca.explained_variance_ratio_)  
[0.9924... 0.0075...]
>>> print(pca.singular_values_)  
[6.30061... 0.54980...]

In [65]:
from sklearn.decomposition import PCA
# PCA 모델 생성
pca = PCA(n_components=2)

# PCA Transform
X_train = pca.fit_transform(X_train)

In [69]:
X_train

array([[ 5.79067539e+02, -4.40272644e+00],
       [-1.82463222e+03,  1.41413213e+00],
       [-1.58539940e+03,  6.90576262e-01],
       ...,
       [-1.92679811e+03,  1.82125134e+00],
       [-1.78926438e+03,  1.13508363e+00],
       [-9.73507159e+02, -1.78337838e+00]])

In [66]:
X_train.shape

(1050, 2)

In [67]:
X_test = pca.transform(X_test)

In [70]:
X_test.shape

(450, 2)

In [35]:
from sklearn.svm import SVC
# 모델 생성
model = SVC(kernel='linear', C=0.1, gamma=0.1)

# 모델 학습
#model.fit(X_train, y_train.values.ravel())
model.fit(X_train, y_train)

# 결과 예측
prediction2 = model.predict(X_test)
prediction2

from sklearn.metrics import accuracy_score
# 정확도 확인
print(accuracy_score(prediction2, y_test))

0.9844444444444445

---

# 3. Decision Tree

In [36]:
X = df.loc[:,['Length','Depth','Kg','L2','LKgRatio']]
Y = df['TypeNum']

In [37]:
# 데이터 분리: 학습 데이터 + 테스트 데이터
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.3 ,random_state=123)

>>> from sklearn.datasets import load_iris
>>> from sklearn.model_selection import cross_val_score
>>> from sklearn.tree import DecisionTreeClassifier
>>> clf = DecisionTreeClassifier(random_state=0)
>>> iris = load_iris()
>>> cross_val_score(clf, iris.data, iris.target, cv=10)

In [38]:
from sklearn.tree import DecisionTreeClassifier
# 모델 생성
model = DecisionTreeClassifier()

In [43]:
# 모델 학습
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [44]:
# 결과 예측
prediction3 = model.predict(X_test)
prediction3

array([1, 2, 1, 2, 0, 0, 2, 1, 1, 1, 1, 2, 2, 0, 0, 0, 2, 0, 1, 1, 2, 0,
       2, 0, 1, 0, 2, 1, 2, 1, 2, 2, 1, 0, 1, 0, 0, 1, 2, 1, 0, 0, 0, 1,
       2, 2, 1, 2, 2, 0, 0, 1, 1, 0, 1, 0, 0, 2, 2, 1, 1, 0, 1, 1, 2, 0,
       1, 2, 0, 1, 2, 2, 0, 1, 2, 1, 0, 2, 1, 0, 1, 2, 0, 0, 2, 2, 0, 1,
       2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 1, 1, 2, 2, 0, 1, 2, 2, 1, 1, 0, 1,
       1, 2, 0, 2, 1, 1, 2, 1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 2, 1, 2, 0,
       2, 1, 1, 0, 2, 1, 1, 0, 2, 2, 2, 1, 1, 1, 0, 0, 2, 0, 2, 1, 2, 2,
       2, 1, 1, 2, 1, 1, 2, 1, 1, 0, 0, 1, 0, 0, 2, 1, 2, 1, 0, 1, 1, 2,
       1, 2, 1, 2, 0, 1, 0, 1, 1, 1, 1, 2, 1, 2, 0, 0, 0, 1, 1, 2, 1, 2,
       1, 2, 0, 1, 1, 0, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 0, 1, 1,
       2, 0, 0, 0, 0, 2, 0, 1, 0, 2, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 2,
       1, 2, 1, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 2,
       0, 2, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 2, 1, 2, 0, 1, 1, 0, 0, 1,
       2, 0, 1, 0, 2, 1, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 1, 2, 1, 2, 0, 0,
       0, 1, 2, 0, 1, 1, 2, 2, 1, 1, 0, 2, 1, 1, 0, 1, 1, 1, 2, 2, 0, 1,
       2, 1, 2, 0, 1, 2, 0, 1, 1, 1, 2, 1, 1, 0, 1, 2, 0, 2, 2, 0, 1, 1,
       2, 1, 2, 1, 2, 2, 0, 2, 0, 1, 2, 1, 0, 0, 1, 0, 0, 2, 1, 0, 1, 1,
       2, 2, 2, 2, 1, 2, 0, 0, 0, 0, 0, 0, 1, 2, 2, 0, 0, 2, 2, 2, 1, 0,
       0, 0, 2, 1, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 2, 0, 2, 0,
       1, 1, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 1, 0, 0, 0, 0, 1, 2, 2, 1,
       1, 2, 0, 2, 0, 2, 0, 0, 2, 0], dtype=int64)

In [45]:
model.predict_proba(X_test)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [46]:
from sklearn.metrics import accuracy_score
print(accuracy_score(prediction3, y_test))

1.0

---

# 4. Random Forest

In [47]:
from sklearn.ensemble import RandomForestClassifier
# 모델 생성
model = RandomForestClassifier(n_estimators=340)

In [55]:
RandomForestClassifier?

In [48]:
# 모델 학습
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=340, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [49]:
# 결과 예측
prediction4 = model.predict(X_test)
prediction4

array([1, 2, 1, 2, 0, 0, 2, 1, 1, 1, 1, 2, 2, 0, 0, 0, 2, 0, 1, 1, 2, 0,
       2, 0, 1, 0, 2, 1, 2, 1, 2, 2, 1, 0, 1, 0, 0, 1, 2, 1, 0, 0, 0, 1,
       2, 2, 1, 2, 2, 0, 0, 1, 1, 0, 1, 0, 0, 2, 2, 1, 1, 0, 1, 1, 2, 0,
       1, 2, 0, 1, 2, 2, 0, 1, 2, 1, 0, 2, 1, 0, 1, 2, 0, 0, 2, 2, 0, 1,
       2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 1, 1, 2, 2, 0, 1, 2, 2, 1, 1, 0, 1,
       1, 2, 0, 2, 1, 1, 2, 1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 2, 1, 2, 0,
       2, 1, 1, 0, 2, 1, 1, 0, 2, 2, 2, 1, 1, 1, 0, 0, 2, 0, 2, 1, 2, 2,
       2, 1, 1, 2, 1, 1, 2, 1, 1, 0, 0, 1, 0, 0, 2, 1, 2, 1, 0, 1, 1, 2,
       1, 2, 1, 2, 0, 1, 0, 1, 1, 1, 1, 2, 1, 2, 0, 0, 0, 1, 1, 2, 1, 2,
       1, 2, 0, 1, 1, 0, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 0, 1, 1,
       2, 0, 0, 0, 0, 2, 0, 1, 0, 2, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 2,
       1, 2, 1, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 2,
       0, 2, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 2, 1, 2, 0, 1, 1, 0, 0, 1,
       2, 0, 1, 0, 2, 1, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 1, 2, 1, 2, 0, 0,
       0, 1, 2, 0, 1, 1, 2, 2, 1, 1, 0, 2, 1, 1, 0, 1, 1, 1, 2, 2, 0, 1,
       2, 1, 2, 0, 1, 2, 0, 1, 1, 1, 2, 1, 1, 0, 1, 2, 0, 2, 2, 0, 1, 1,
       2, 1, 2, 1, 2, 2, 0, 2, 0, 1, 2, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       2, 2, 2, 2, 1, 2, 0, 0, 0, 0, 0, 0, 1, 2, 2, 0, 0, 2, 2, 2, 1, 0,
       0, 0, 2, 1, 0, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 2, 0, 2, 0,
       1, 1, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 1, 0, 0, 0, 0, 1, 2, 2, 1,
       1, 2, 0, 2, 0, 2, 0, 0, 2, 0], dtype=int64)

In [50]:
# 정확도 확인
print(accuracy_score(prediction4, y_test))

0.9977777777777778

---

# 4. KMeans Clustering

In [3]:
df = pd.read_csv("data/iris.csv")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

>>> from sklearn.cluster import KMeans
>>> import numpy as np
>>> X = np.array([[1, 2], [1, 4], [1, 0],
...               [10, 2], [10, 4], [10, 0]])
>>> kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
>>> kmeans.labels_
array([1, 1, 1, 0, 0, 0], dtype=int32)
>>> kmeans.predict([[0, 0], [12, 3]])
array([1, 0], dtype=int32)
>>> kmeans.cluster_centers_
array([[10.,  2.],
       [ 1.,  2.]])

In [5]:
X = df.iloc[:,0:4]

In [6]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, random_state=0).fit(X)
kmeans.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [8]:
dir(kmeans)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_check_fit_data',
 '_check_test_data',
 '_estimator_type',
 '_get_param_names',
 '_transform',
 'algorithm',
 'cluster_centers_',
 'copy_x',
 'fit',
 'fit_predict',
 'fit_transform',
 'get_params',
 'inertia_',
 'init',
 'labels_',
 'max_iter',
 'n_clusters',
 'n_init',
 'n_iter_',
 'n_jobs',
 'precompute_distances',
 'predict',
 'random_state',
 'score',
 'set_params',
 'tol',
 'transform',
 'verbose']

In [59]:
kmeans.predict(X)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [86]:
kmeans.cluster_centers_

array([[5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])

# 5. Nearest Neighbors

>>> from sklearn.neighbors import NearestNeighbors
>>> import numpy as np
>>> X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
>>> neigh = NearestNeighbors(2, 0.4)
>>> neigh.fit(samples)  
NearestNeighbors(...)
>>> neigh.kneighbors([[0, 0, 1.3]], 2, return_distance=False)
... 
array([[2, 0]]...)

In [63]:
from sklearn.neighbors import NearestNeighbors
neigh = NearestNeighbors(n_neighbors=2, algorithm='kd_tree').fit(X)

In [78]:
X.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [81]:
X.iloc[39]

Sepal.Length    5.1
Sepal.Width     3.4
Petal.Length    1.5
Petal.Width     0.2
Name: 39, dtype: float64

In [112]:
A=neigh.kneighbors(X, 5, return_distance=True)

In [98]:
A[100]

array([100, 136, 144, 104, 143], dtype=int64)

In [115]:
A[0][100]

array([0.        , 0.42426407, 0.5       , 0.50990195, 0.55677644])

array([[0.        , 0.1       , 0.14142136, 0.14142136, 0.14142136],
       [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
       [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
       [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.24494897],
       [0.        , 0.14142136, 0.14142136, 0.17320508, 0.17320508],
       [0.        , 0.33166248, 0.34641016, 0.36055513, 0.37416574],
       [0.        , 0.2236068 , 0.26457513, 0.3       , 0.31622777],
       [0.        , 0.1       , 0.14142136, 0.17320508, 0.2       ],
       [0.        , 0.14142136, 0.3       , 0.31622777, 0.34641016],
       [0.        , 0.1       , 0.17320508, 0.17320508, 0.17320508],
       [0.        , 0.1       , 0.28284271, 0.3       , 0.33166248],
       [0.        , 0.2236068 , 0.2236068 , 0.28284271, 0.3       ],
       [0.        , 0.14142136, 0.17320508, 0.2       , 0.2       ],
       [0.        , 0.24494897, 0.31622777, 0.34641016, 0.47958315],
       [0.        , 0.41231056, 0.46904158, 0.54772256, 0.55677644],
       [0.        , 0.36055513, 0.54772256, 0.6164414 , 0.6164414 ],
       [0.        , 0.34641016, 0.36055513, 0.38729833, 0.38729833],
       [0.        , 0.1       , 0.14142136, 0.17320508, 0.17320508],
       [0.        , 0.33166248, 0.38729833, 0.46904158, 0.50990195],
       [0.        , 0.14142136, 0.14142136, 0.24494897, 0.26457513],
       [0.        , 0.28284271, 0.3       , 0.36055513, 0.36055513],
       [0.        , 0.14142136, 0.24494897, 0.24494897, 0.26457513],
       [0.        , 0.45825757, 0.50990195, 0.50990195, 0.51961524],
       [0.        , 0.2       , 0.26457513, 0.37416574, 0.38729833],
       [0.        , 0.3       , 0.37416574, 0.41231056, 0.42426407],
       [0.        , 0.17320508, 0.2       , 0.2236068 , 0.2236068 ],
       [0.        , 0.2       , 0.2236068 , 0.2236068 , 0.24494897],
       [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
       [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
       [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.2236068 ],
       [0.        , 0.14142136, 0.14142136, 0.17320508, 0.2236068 ],
       [0.        , 0.28284271, 0.3       , 0.3       , 0.31622777],
       [0.        , 0.34641016, 0.34641016, 0.37416574, 0.42426407],
       [0.        , 0.34641016, 0.36055513, 0.38729833, 0.41231056],
       [0.        , 0.1       , 0.14142136, 0.14142136, 0.17320508],
       [0.        , 0.2236068 , 0.3       , 0.31622777, 0.33166248],
       [0.        , 0.3       , 0.31622777, 0.33166248, 0.34641016],
       [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
       [0.        , 0.14142136, 0.2       , 0.24494897, 0.3       ],
       [0.        , 0.1       , 0.14142136, 0.14142136, 0.14142136],
       [0.        , 0.14142136, 0.17320508, 0.17320508, 0.24494897],
       [0.        , 0.6244998 , 0.71414284, 0.76811457, 0.78102497],
       [0.        , 0.2       , 0.2236068 , 0.3       , 0.3       ],
       [0.        , 0.2236068 , 0.26457513, 0.31622777, 0.37416574],
       [0.        , 0.36055513, 0.37416574, 0.41231056, 0.41231056],
       [0.        , 0.14142136, 0.2       , 0.2       , 0.24494897],
       [0.        , 0.14142136, 0.24494897, 0.24494897, 0.3       ],
       [0.        , 0.14142136, 0.14142136, 0.2236068 , 0.2236068 ],
       [0.        , 0.1       , 0.2236068 , 0.24494897, 0.24494897],
       [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.2236068 ],
       [0.        , 0.26457513, 0.33166248, 0.43588989, 0.45825757],
       [0.        , 0.26457513, 0.31622777, 0.34641016, 0.37416574],
       [0.        , 0.26457513, 0.28284271, 0.31622777, 0.34641016],
       [0.        , 0.2       , 0.3       , 0.31622777, 0.43588989],
       [0.        , 0.24494897, 0.31622777, 0.37416574, 0.37416574],
       [0.        , 0.3       , 0.31622777, 0.31622777, 0.33166248],
       [0.        , 0.26457513, 0.37416574, 0.42426407, 0.45825757],
       [0.        , 0.14142136, 0.38729833, 0.45825757, 0.72111026],
       [0.        , 0.24494897, 0.24494897, 0.31622777, 0.31622777],
       [0.        , 0.38729833, 0.50990195, 0.51961524, 0.52915026],
       [0.        , 0.36055513, 0.45825757, 0.67082039, 0.71414284],
       [0.        , 0.3       , 0.33166248, 0.36055513, 0.36055513],
       [0.        , 0.48989795, 0.51961524, 0.54772256, 0.58309519],
       [0.        , 0.14142136, 0.2236068 , 0.24494897, 0.42426407],
       [0.        , 0.42426407, 0.4472136 , 0.50990195, 0.51961524],
       [0.        , 0.14142136, 0.31622777, 0.31622777, 0.34641016],
       [0.        , 0.2       , 0.3       , 0.38729833, 0.41231056],
       [0.        , 0.24494897, 0.28284271, 0.33166248, 0.36055513],
       [0.        , 0.26457513, 0.50990195, 0.53851648, 0.678233  ],
       [0.        , 0.17320508, 0.24494897, 0.26457513, 0.26457513],
       [0.        , 0.2236068 , 0.3       , 0.36055513, 0.42426407],
       [0.        , 0.33166248, 0.34641016, 0.37416574, 0.4       ],
       [0.        , 0.36055513, 0.36055513, 0.41231056, 0.42426407],
       [0.        , 0.2236068 , 0.3       , 0.38729833, 0.43588989],
       [0.        , 0.2       , 0.26457513, 0.36055513, 0.38729833],
       [0.        , 0.14142136, 0.24494897, 0.26457513, 0.31622777],
       [0.        , 0.31622777, 0.34641016, 0.34641016, 0.37416574],
       [0.        , 0.31622777, 0.37416574, 0.41231056, 0.42426407],
       [0.        , 0.2       , 0.24494897, 0.33166248, 0.34641016],
       [0.        , 0.34641016, 0.42426407, 0.43588989, 0.4472136 ],
       [0.        , 0.14142136, 0.17320508, 0.3       , 0.3       ],
       [0.        , 0.14142136, 0.26457513, 0.34641016, 0.43588989],
       [0.        , 0.14142136, 0.26457513, 0.28284271, 0.3       ],
       [0.        , 0.33166248, 0.36055513, 0.36055513, 0.37416574],
       [0.        , 0.2       , 0.41231056, 0.47958315, 0.48989795],
       [0.        , 0.37416574, 0.42426407, 0.45825757, 0.46904158],
       [0.        , 0.28284271, 0.31622777, 0.31622777, 0.33166248],
       [0.        , 0.26457513, 0.57445626, 0.59160798, 0.60827625],
       [0.        , 0.17320508, 0.17320508, 0.2236068 , 0.31622777],
       [0.        , 0.2       , 0.24494897, 0.3       , 0.3       ],
       [0.        , 0.26457513, 0.31622777, 0.42426407, 0.42426407],
       [0.        , 0.14142136, 0.2       , 0.3       , 0.34641016],
       [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
       [0.        , 0.14142136, 0.36055513, 0.38729833, 0.64807407],
       [0.        , 0.17320508, 0.2236068 , 0.26457513, 0.3       ],
       [0.        , 0.14142136, 0.17320508, 0.24494897, 0.33166248],
       [0.        , 0.14142136, 0.14142136, 0.17320508, 0.2236068 ],
       [0.        , 0.2       , 0.33166248, 0.34641016, 0.34641016],
       [0.        , 0.38729833, 0.38729833, 0.72111026, 0.79372539],
       [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.24494897],
       [0.        , 0.42426407, 0.5       , 0.50990195, 0.55677644],
       [0.        , 0.        , 0.26457513, 0.31622777, 0.33166248],
       [0.        , 0.38729833, 0.4       , 0.41231056, 0.45825757],
       [0.        , 0.24494897, 0.24494897, 0.33166248, 0.38729833],
       [0.        , 0.3       , 0.31622777, 0.36055513, 0.38729833],
       [0.        , 0.26457513, 0.52915026, 0.54772256, 0.54772256],
       [0.        , 0.73484692, 0.76157731, 0.79372539, 0.87749644],
       [0.        , 0.26457513, 0.43588989, 0.52915026, 0.54772256],
       [0.        , 0.55677644, 0.6       , 0.6164414 , 0.6164414 ],
       [0.        , 0.63245553, 0.67082039, 0.70710678, 0.75498344],
       [0.        , 0.2236068 , 0.37416574, 0.42426407, 0.42426407],
       [0.        , 0.34641016, 0.37416574, 0.37416574, 0.38729833],
       [0.        , 0.17320508, 0.34641016, 0.36055513, 0.37416574],
       [0.        , 0.26457513, 0.26457513, 0.33166248, 0.51961524],
       [0.        , 0.48989795, 0.50990195, 0.50990195, 0.51961524],
       [0.        , 0.3       , 0.37416574, 0.37416574, 0.38729833],
       [0.        , 0.14142136, 0.24494897, 0.36055513, 0.38729833],
       [0.        , 0.41231056, 0.81853528, 0.86023253, 1.00498756],
       [0.        , 0.41231056, 0.54772256, 0.89442719, 0.92736185],
       [0.        , 0.43588989, 0.51961524, 0.53851648, 0.58309519],
       [0.        , 0.2236068 , 0.26457513, 0.3       , 0.3       ],
       [0.        , 0.31622777, 0.31622777, 0.33166248, 0.45825757],
       [0.        , 0.26457513, 0.41231056, 0.60827625, 0.678233  ],
       [0.        , 0.17320508, 0.24494897, 0.36055513, 0.36055513],
       [0.        , 0.3       , 0.31622777, 0.37416574, 0.37416574],
       [0.        , 0.34641016, 0.38729833, 0.43588989, 0.46904158],
       [0.        , 0.17320508, 0.24494897, 0.28284271, 0.38729833],
       [0.        , 0.14142136, 0.24494897, 0.28284271, 0.3       ],
       [0.        , 0.1       , 0.31622777, 0.33166248, 0.37416574],
       [0.        , 0.34641016, 0.50990195, 0.51961524, 0.55677644],
       [0.        , 0.26457513, 0.45825757, 0.46904158, 0.50990195],
       [0.        , 0.41231056, 0.88317609, 0.92736185, 0.93273791],
       [0.        , 0.1       , 0.3       , 0.42426407, 0.43588989],
       [0.        , 0.33166248, 0.36055513, 0.37416574, 0.43588989],
       [0.        , 0.53851648, 0.55677644, 0.58309519, 0.66332496],
       [0.        , 0.53851648, 0.54772256, 0.66332496, 0.678233  ],
       [0.        , 0.24494897, 0.38729833, 0.42426407, 0.43588989],
       [0.        , 0.14142136, 0.24494897, 0.38729833, 0.43588989],
       [0.        , 0.14142136, 0.2236068 , 0.28284271, 0.31622777],
       [0.        , 0.17320508, 0.36055513, 0.36055513, 0.37416574],
       [0.        , 0.24494897, 0.26457513, 0.34641016, 0.34641016],
       [0.        , 0.24494897, 0.36055513, 0.46904158, 0.50990195],
       [0.        , 0.        , 0.26457513, 0.31622777, 0.33166248],
       [0.        , 0.2236068 , 0.31622777, 0.31622777, 0.34641016],
       [0.        , 0.24494897, 0.3       , 0.31622777, 0.4       ],
       [0.        , 0.24494897, 0.36055513, 0.36055513, 0.37416574],
       [0.        , 0.24494897, 0.37416574, 0.38729833, 0.41231056],
       [0.        , 0.2236068 , 0.34641016, 0.36055513, 0.36055513],
       [0.        , 0.24494897, 0.3       , 0.55677644, 0.6164414 ],
       [0.        , 0.28284271, 0.31622777, 0.33166248, 0.33166248]])

In [110]:
A

(array([[0.        , 0.1       , 0.14142136, 0.14142136, 0.14142136],
        [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
        [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
        [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.24494897],
        [0.        , 0.14142136, 0.14142136, 0.17320508, 0.17320508],
        [0.        , 0.33166248, 0.34641016, 0.36055513, 0.37416574],
        [0.        , 0.2236068 , 0.26457513, 0.3       , 0.31622777],
        [0.        , 0.1       , 0.14142136, 0.17320508, 0.2       ],
        [0.        , 0.14142136, 0.3       , 0.31622777, 0.34641016],
        [0.        , 0.1       , 0.17320508, 0.17320508, 0.17320508],
        [0.        , 0.1       , 0.28284271, 0.3       , 0.33166248],
        [0.        , 0.2236068 , 0.2236068 , 0.28284271, 0.3       ],
        [0.        , 0.14142136, 0.17320508, 0.2       , 0.2       ],
        [0.        , 0.24494897, 0.31622777, 0.34641016, 0.47958315],
        [0.        , 0.41231056, 0.46904158, 0.54772256, 0.55677644],
        [0.        , 0.36055513, 0.54772256, 0.6164414 , 0.6164414 ],
        [0.        , 0.34641016, 0.36055513, 0.38729833, 0.38729833],
        [0.        , 0.1       , 0.14142136, 0.17320508, 0.17320508],
        [0.        , 0.33166248, 0.38729833, 0.46904158, 0.50990195],
        [0.        , 0.14142136, 0.14142136, 0.24494897, 0.26457513],
        [0.        , 0.28284271, 0.3       , 0.36055513, 0.36055513],
        [0.        , 0.14142136, 0.24494897, 0.24494897, 0.26457513],
        [0.        , 0.45825757, 0.50990195, 0.50990195, 0.51961524],
        [0.        , 0.2       , 0.26457513, 0.37416574, 0.38729833],
        [0.        , 0.3       , 0.37416574, 0.41231056, 0.42426407],
        [0.        , 0.17320508, 0.2       , 0.2236068 , 0.2236068 ],
        [0.        , 0.2       , 0.2236068 , 0.2236068 , 0.24494897],
        [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
        [0.        , 0.14142136, 0.14142136, 0.14142136, 0.17320508],
        [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.2236068 ],
        [0.        , 0.14142136, 0.14142136, 0.17320508, 0.2236068 ],
        [0.        , 0.28284271, 0.3       , 0.3       , 0.31622777],
        [0.        , 0.34641016, 0.34641016, 0.37416574, 0.42426407],
        [0.        , 0.34641016, 0.36055513, 0.38729833, 0.41231056],
        [0.        , 0.1       , 0.14142136, 0.14142136, 0.17320508],
        [0.        , 0.2236068 , 0.3       , 0.31622777, 0.33166248],
        [0.        , 0.3       , 0.31622777, 0.33166248, 0.34641016],
        [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
        [0.        , 0.14142136, 0.2       , 0.24494897, 0.3       ],
        [0.        , 0.1       , 0.14142136, 0.14142136, 0.14142136],
        [0.        , 0.14142136, 0.17320508, 0.17320508, 0.24494897],
        [0.        , 0.6244998 , 0.71414284, 0.76811457, 0.78102497],
        [0.        , 0.2       , 0.2236068 , 0.3       , 0.3       ],
        [0.        , 0.2236068 , 0.26457513, 0.31622777, 0.37416574],
        [0.        , 0.36055513, 0.37416574, 0.41231056, 0.41231056],
        [0.        , 0.14142136, 0.2       , 0.2       , 0.24494897],
        [0.        , 0.14142136, 0.24494897, 0.24494897, 0.3       ],
        [0.        , 0.14142136, 0.14142136, 0.2236068 , 0.2236068 ],
        [0.        , 0.1       , 0.2236068 , 0.24494897, 0.24494897],
        [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.2236068 ],
        [0.        , 0.26457513, 0.33166248, 0.43588989, 0.45825757],
        [0.        , 0.26457513, 0.31622777, 0.34641016, 0.37416574],
        [0.        , 0.26457513, 0.28284271, 0.31622777, 0.34641016],
        [0.        , 0.2       , 0.3       , 0.31622777, 0.43588989],
        [0.        , 0.24494897, 0.31622777, 0.37416574, 0.37416574],
        [0.        , 0.3       , 0.31622777, 0.31622777, 0.33166248],
        [0.        , 0.26457513, 0.37416574, 0.42426407, 0.45825757],
        [0.        , 0.14142136, 0.38729833, 0.45825757, 0.72111026],
        [0.        , 0.24494897, 0.24494897, 0.31622777, 0.31622777],
        [0.        , 0.38729833, 0.50990195, 0.51961524, 0.52915026],
        [0.        , 0.36055513, 0.45825757, 0.67082039, 0.71414284],
        [0.        , 0.3       , 0.33166248, 0.36055513, 0.36055513],
        [0.        , 0.48989795, 0.51961524, 0.54772256, 0.58309519],
        [0.        , 0.14142136, 0.2236068 , 0.24494897, 0.42426407],
        [0.        , 0.42426407, 0.4472136 , 0.50990195, 0.51961524],
        [0.        , 0.14142136, 0.31622777, 0.31622777, 0.34641016],
        [0.        , 0.2       , 0.3       , 0.38729833, 0.41231056],
        [0.        , 0.24494897, 0.28284271, 0.33166248, 0.36055513],
        [0.        , 0.26457513, 0.50990195, 0.53851648, 0.678233  ],
        [0.        , 0.17320508, 0.24494897, 0.26457513, 0.26457513],
        [0.        , 0.2236068 , 0.3       , 0.36055513, 0.42426407],
        [0.        , 0.33166248, 0.34641016, 0.37416574, 0.4       ],
        [0.        , 0.36055513, 0.36055513, 0.41231056, 0.42426407],
        [0.        , 0.2236068 , 0.3       , 0.38729833, 0.43588989],
        [0.        , 0.2       , 0.26457513, 0.36055513, 0.38729833],
        [0.        , 0.14142136, 0.24494897, 0.26457513, 0.31622777],
        [0.        , 0.31622777, 0.34641016, 0.34641016, 0.37416574],
        [0.        , 0.31622777, 0.37416574, 0.41231056, 0.42426407],
        [0.        , 0.2       , 0.24494897, 0.33166248, 0.34641016],
        [0.        , 0.34641016, 0.42426407, 0.43588989, 0.4472136 ],
        [0.        , 0.14142136, 0.17320508, 0.3       , 0.3       ],
        [0.        , 0.14142136, 0.26457513, 0.34641016, 0.43588989],
        [0.        , 0.14142136, 0.26457513, 0.28284271, 0.3       ],
        [0.        , 0.33166248, 0.36055513, 0.36055513, 0.37416574],
        [0.        , 0.2       , 0.41231056, 0.47958315, 0.48989795],
        [0.        , 0.37416574, 0.42426407, 0.45825757, 0.46904158],
        [0.        , 0.28284271, 0.31622777, 0.31622777, 0.33166248],
        [0.        , 0.26457513, 0.57445626, 0.59160798, 0.60827625],
        [0.        , 0.17320508, 0.17320508, 0.2236068 , 0.31622777],
        [0.        , 0.2       , 0.24494897, 0.3       , 0.3       ],
        [0.        , 0.26457513, 0.31622777, 0.42426407, 0.42426407],
        [0.        , 0.14142136, 0.2       , 0.3       , 0.34641016],
        [0.        , 0.14142136, 0.24494897, 0.26457513, 0.26457513],
        [0.        , 0.14142136, 0.36055513, 0.38729833, 0.64807407],
        [0.        , 0.17320508, 0.2236068 , 0.26457513, 0.3       ],
        [0.        , 0.14142136, 0.17320508, 0.24494897, 0.33166248],
        [0.        , 0.14142136, 0.14142136, 0.17320508, 0.2236068 ],
        [0.        , 0.2       , 0.33166248, 0.34641016, 0.34641016],
        [0.        , 0.38729833, 0.38729833, 0.72111026, 0.79372539],
        [0.        , 0.14142136, 0.17320508, 0.2236068 , 0.24494897],
        [0.        , 0.42426407, 0.5       , 0.50990195, 0.55677644],
        [0.        , 0.        , 0.26457513, 0.31622777, 0.33166248],
        [0.        , 0.38729833, 0.4       , 0.41231056, 0.45825757],
        [0.        , 0.24494897, 0.24494897, 0.33166248, 0.38729833],
        [0.        , 0.3       , 0.31622777, 0.36055513, 0.38729833],
        [0.        , 0.26457513, 0.52915026, 0.54772256, 0.54772256],
        [0.        , 0.73484692, 0.76157731, 0.79372539, 0.87749644],
        [0.        , 0.26457513, 0.43588989, 0.52915026, 0.54772256],
        [0.        , 0.55677644, 0.6       , 0.6164414 , 0.6164414 ],
        [0.        , 0.63245553, 0.67082039, 0.70710678, 0.75498344],
        [0.        , 0.2236068 , 0.37416574, 0.42426407, 0.42426407],
        [0.        , 0.34641016, 0.37416574, 0.37416574, 0.38729833],
        [0.        , 0.17320508, 0.34641016, 0.36055513, 0.37416574],
        [0.        , 0.26457513, 0.26457513, 0.33166248, 0.51961524],
        [0.        , 0.48989795, 0.50990195, 0.50990195, 0.51961524],
        [0.        , 0.3       , 0.37416574, 0.37416574, 0.38729833],
        [0.        , 0.14142136, 0.24494897, 0.36055513, 0.38729833],
        [0.        , 0.41231056, 0.81853528, 0.86023253, 1.00498756],
        [0.        , 0.41231056, 0.54772256, 0.89442719, 0.92736185],
        [0.        , 0.43588989, 0.51961524, 0.53851648, 0.58309519],
        [0.        , 0.2236068 , 0.26457513, 0.3       , 0.3       ],
        [0.        , 0.31622777, 0.31622777, 0.33166248, 0.45825757],
        [0.        , 0.26457513, 0.41231056, 0.60827625, 0.678233  ],
        [0.        , 0.17320508, 0.24494897, 0.36055513, 0.36055513],
        [0.        , 0.3       , 0.31622777, 0.37416574, 0.37416574],
        [0.        , 0.34641016, 0.38729833, 0.43588989, 0.46904158],
        [0.        , 0.17320508, 0.24494897, 0.28284271, 0.38729833],
        [0.        , 0.14142136, 0.24494897, 0.28284271, 0.3       ],
        [0.        , 0.1       , 0.31622777, 0.33166248, 0.37416574],
        [0.        , 0.34641016, 0.50990195, 0.51961524, 0.55677644],
        [0.        , 0.26457513, 0.45825757, 0.46904158, 0.50990195],
        [0.        , 0.41231056, 0.88317609, 0.92736185, 0.93273791],
        [0.        , 0.1       , 0.3       , 0.42426407, 0.43588989],
        [0.        , 0.33166248, 0.36055513, 0.37416574, 0.43588989],
        [0.        , 0.53851648, 0.55677644, 0.58309519, 0.66332496],
        [0.        , 0.53851648, 0.54772256, 0.66332496, 0.678233  ],
        [0.        , 0.24494897, 0.38729833, 0.42426407, 0.43588989],
        [0.        , 0.14142136, 0.24494897, 0.38729833, 0.43588989],
        [0.        , 0.14142136, 0.2236068 , 0.28284271, 0.31622777],
        [0.        , 0.17320508, 0.36055513, 0.36055513, 0.37416574],
        [0.        , 0.24494897, 0.26457513, 0.34641016, 0.34641016],
        [0.        , 0.24494897, 0.36055513, 0.46904158, 0.50990195],
        [0.        , 0.        , 0.26457513, 0.31622777, 0.33166248],
        [0.        , 0.2236068 , 0.31622777, 0.31622777, 0.34641016],
        [0.        , 0.24494897, 0.3       , 0.31622777, 0.4       ],
        [0.        , 0.24494897, 0.36055513, 0.36055513, 0.37416574],
        [0.        , 0.24494897, 0.37416574, 0.38729833, 0.41231056],
        [0.        , 0.2236068 , 0.34641016, 0.36055513, 0.36055513],
        [0.        , 0.24494897, 0.3       , 0.55677644, 0.6164414 ],
        [0.        , 0.28284271, 0.31622777, 0.33166248, 0.33166248]]),
 array([[  0,  17,   4,  39,  27],
        [  1,  34,  45,  12,   9],
        [  2,  47,   3,  12,   6],
        [  3,  47,  29,  30,   2],
        [  4,  37,   0,  17,  40],
        [  5,  18,  10,  48,  44],
        [  6,  47,   2,  11,  42],
        [  7,  39,  49,   0,  17],
        [  8,  38,   3,  42,  13],
        [  9,  34,   1,  30,  12],
        [ 10,  48,  27,  36,  19],
        [ 11,  29,   7,  26,  24],
        [ 12,   1,   9,  45,  34],
        [ 13,  38,  42,   8,  47],
        [ 14,  33,  16,  15,  18],
        [ 15,  33,  14,   5,  16],
        [ 16,  10,  48,  33,  19],
        [ 17,   0,  40,   4,  39],
        [ 18,   5,  10,  48,  20],
        [ 19,  21,  46,  48,   4],
        [ 20,  31,  27,  28,  10],
        [ 21,  19,  46,  17,   4],
        [ 22,   6,   2,  37,  40],
        [ 23,  26,  43,  39,   7],
        [ 24,  11,  29,  26,  30],
        [ 25,  34,   9,   1,  30],
        [ 26,  23,  43,   7,  39],
        [ 27,  28,   0,  39,  17],
        [ 28,  27,   0,  39,  17],
        [ 29,  30,   3,  11,  47],
        [ 30,  29,  34,   9,  25],
        [ 31,  20,  28,  27,  36],
        [ 32,  46,  33,  19,  48],
        [ 33,  32,  15,  16,  14],
        [ 34,   9,   1,  30,  25],
        [ 35,  49,   1,   2,  40],
        [ 36,  10,  31,  28,  48],
        [ 37,   4,   0,  40,   7],
        [ 38,   8,  42,  13,   3],
        [ 39,   7,   0,  28,  27],
        [ 40,  17,   0,   4,   7],
        [ 41,   8,  38,  45,  13],
        [ 42,  38,  47,   3,   2],
        [ 43,  26,  23,  21,  17],
        [ 44,  46,   5,  21,  19],
        [ 45,   1,  12,  34,  30],
        [ 46,  19,  21,  48,   4],
        [ 47,   3,   2,  42,   6],
        [ 48,  10,  27,  19,  46],
        [ 49,   7,  39,  35,   0],
        [ 50,  52,  86,  65,  76],
        [ 51,  56,  75,  65,  86],
        [ 52,  50,  86,  77,  76],
        [ 53,  89,  80,  69,  81],
        [ 54,  58,  75,  76,  86],
        [ 55,  66,  90,  96,  94],
        [ 56,  51,  85,  91, 127],
        [ 57,  93,  98,  60,  81],
        [ 58,  75,  54,  65,  76],
        [ 59,  89,  94,  53,  80],
        [ 60,  93,  57,  81,  80],
        [ 61,  96,  78,  95,  99],
        [ 62,  92,  69,  67,  80],
        [ 63,  91,  73,  78,  97],
        [ 64,  82,  79,  88,  99],
        [ 65,  75,  58,  86,  51],
        [ 66,  84,  55,  96,  78],
        [ 67,  92,  82,  99,  69],
        [ 68,  87,  72, 119,  54],
        [ 69,  80,  89,  81,  92],
        [ 70, 138, 127, 149,  85],
        [ 71,  97,  82,  92,  61],
        [ 72, 133, 123, 146,  83],
        [ 73,  63,  91,  78,  97],
        [ 74,  97,  75,  58,  54],
        [ 75,  65,  58,  74,  54],
        [ 76,  58,  86,  52,  54],
        [ 77,  52,  86, 147, 110],
        [ 78,  91,  63,  61,  97],
        [ 79,  81,  80,  69,  64],
        [ 80,  81,  69,  89,  53],
        [ 81,  80,  69,  79,  89],
        [ 82,  92,  99,  67,  69],
        [ 83, 133, 101, 142, 149],
        [ 84,  66,  55,  96,  88],
        [ 85,  56,  70,  51,  91],
        [ 86,  52,  65,  58,  50],
        [ 87,  68,  72,  62,  54],
        [ 88,  96,  95,  99,  94],
        [ 89,  53,  69,  80,  94],
        [ 90,  94,  55,  96,  89],
        [ 91,  63,  78,  73,  97],
        [ 92,  82,  67,  99,  69],
        [ 93,  57,  60,  98,  81],
        [ 94,  99,  96,  90,  89],
        [ 95,  96,  88,  99,  94],
        [ 96,  95,  99,  88,  94],
        [ 97,  74,  71,  91,  78],
        [ 98,  57,  93,  60,  79],
        [ 99,  96,  94,  88,  95],
        [100, 136, 144, 104, 143],
        [101, 142, 113, 121, 149],
        [102, 125, 120, 143, 130],
        [103, 116, 137, 128, 111],
        [104, 132, 128, 140, 124],
        [105, 122, 107, 135, 118],
        [106,  84,  59,  90,  89],
        [107, 130, 125, 105, 102],
        [108, 128, 103, 132, 116],
        [109, 143, 120, 144, 102],
        [110, 147, 115,  77, 145],
        [111, 147, 128, 146, 103],
        [112, 139, 140, 120, 145],
        [113, 101, 142, 121, 114],
        [114, 121, 101, 142, 113],
        [115, 148, 145, 110, 147],
        [116, 137, 103, 147, 111],
        [117, 131, 105, 109, 135],
        [118, 122, 105, 135, 107],
        [119,  72,  83,  68, 146],
        [120, 143, 140, 124, 144],
        [121, 101, 142, 113, 149],
        [122, 105, 118, 107, 130],
        [123, 126, 146, 127,  72],
        [124, 120, 143, 140, 112],
        [125, 129, 102, 107, 130],
        [126, 123, 127, 138, 146],
        [127, 138, 126, 149,  70],
        [128, 132, 104, 103, 111],
        [129, 125, 130, 102, 107],
        [130, 107, 102, 125, 129],
        [131, 117, 105, 135, 109],
        [132, 128, 104, 103, 111],
        [133,  83,  72, 123, 126],
        [134, 103,  83, 133, 111],
        [135, 130, 105, 102, 107],
        [136, 148, 115, 100, 144],
        [137, 116, 103, 147, 128],
        [138, 127,  70, 126, 149],
        [139, 112, 145, 141, 120],
        [140, 144, 120, 112, 143],
        [141, 145, 139, 112, 110],
        [101, 142, 113, 121, 149],
        [143, 120, 124, 144, 140],
        [144, 140, 120, 143, 124],
        [145, 141, 147, 139, 112],
        [146, 123, 111, 126,  72],
        [147, 110, 111, 116, 145],
        [148, 136, 115, 110, 147],
        [149, 127, 138, 101, 142]], dtype=int64))

In [ ]:
# end of file